Repository team-projector/backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  language: system
  entry: poetry run black --check

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

Remove users.Position model #552
  server/apps/payroll/migrations/0032_auto_20201020_1439.py
  server/apps/users/migrations/0030_delete_position.py
Due: flake8

Update python to 3.9 #549
  deploy/Dockerfile
Due: none

Add skill level ordering #552
  server/apps/skills/admin/inlines/skill_level.py
Due: black, flake8

Fix migrations #552
  server/apps/payroll/migrations/0032_auto_20201020_1439.py
Due: flake8

Add group to skill admin list #552
  server/apps/skills/admin/skill.py
Due: black, flake8

Change admin look and feel #552
  server/apps/skills/admin/inlines/position_skill_level.py
  server/apps/skills/admin/skill.py
Due: black, flake8

Change admin look and feel #552
  server/apps/skills/admin/skill_level.py
  server/apps/skills/admin/user_skill_level.py
Due: black, flake8

Change admin look and feel #552
  server/apps/skills/admin/skill_level.py
Due: black, flake8

Refactor query filter for all milestones #543
  server/apps/development/graphql/filters/milestones.py
  server/apps/development/migrations/0086_auto_20201021_1006.py
  server/apps/development/models/milestone.py
  tests/test_development/test_ghl/test_milestones/test_queries/test_list.py
Due: black, flake8

Fix tests, remove query-parameter `active` #543
  tests/test_development/test_ghl/test_issues/test_queries/assets/issues_summary.ghl
  tests/test_development/test_ghl/test_projects/test_resolvers/test_project_resolvers.py
Due: black, flake8

Remove ActiveFilter for milestones #543
  server/apps/development/graphql/filters/milestones.py
Due: black, flake8

Change VERSION to 0.1.1
  VERSION
Due: none

Change VERSION to 0.1.2
  VERSION
Due: none

Fix skills, users apps migration
  server/apps/users/migrations/0028_auto_20201020_1410.py
Due: flake8

Implement all projects, added tests, remove `is_archived` from project #543
  locale/en/LC_MESSAGES/django.po
  server/apps/development/admin/project.py
  server/apps/development/graphql/filters/__init__.py
  server/apps/development/graphql/filters/projects.py
  server/apps/development/graphql/queries/projects.py
  server/apps/development/migrations/0086_project_state.py
  server/apps/development/migrations/0087_update_project_state.py
  server/apps/development/migrations/0088_remove_project_is_archived.py
  server/apps/development/models/project.py
  server/apps/development/services/project/gl/manager.py
  tests/test_development/test_ghl/test_projects/test_queries/__init__.py
  tests/test_development/test_ghl/test_projects/test_queries/conftest.py
  tests/test_development/test_ghl/test_projects/test_queries/test_all.py
Due: black, flake8

Fix test, translate #551
  locale/en/LC_MESSAGES/django.po
  server/apps/development/services/issue/summary/project.py
  tests/test_development/test_services/test_issues/test_summary/test_projects_stats.py
Due: black, flake8

Fix migrations conflict
  server/apps/core/gitlab/client.py
  server/apps/development/migrations/0089_merge_20201021_1231.py
Due: black, flake8

Add GITLAB_LOGIN_ENABLED constance, add test #553
  server/apps/core/services/backend_config.py
  server/settings/components/constance.py
  tests/test_core/test_services/test_backend_config.py
Due: black, flake8

Fix black style #553
  tests/test_core/test_services/test_backend_config.py
Due: black, flake8

Fix project issues full load
  server/apps/development/services/issue/gl/manager.py
Due: black, flake8

Change VERSION to 0.1.3
  VERSION
Due: none

Add demo mode to config and config.js (default: false) #555
  server/apps/core/services/backend_config.py
  server/settings/components/constance.py
  tests/test_core/test_services/test_backend_config.py
Due: black, flake8

Add clear cache to admin menu #554
  server/apps/core/admin/menus/admin_menu.py
  server/apps/core/admin/views/__init__.py
  server/apps/core/admin/views/clear_cache.py
  server/apps/core/templates/admin/core/clear_cache.html
  server/urls.py
Due: black, flake8

Remove git from Dockerfile after installation
  deploy/Dockerfile
Due: none

Update libs #557
  deploy/Dockerfile
  deploy/server/run.sh
  poetry.lock
  pyproject.toml
Due: none

Update libs #557
  deploy/Dockerfile
  server/apps/core/admin/follow.py
  server/apps/core/tasks/actions.py
  server/apps/development/services/status/gitlab.py
Due: black, flake8

Add tests for checking update webhook token, fix problems with setting webhook token
  server/apps/development/graphql/mutations/issues/inputs/base.py
  server/apps/development/graphql/mutations/milestones/inputs/sync.py
  server/apps/development/graphql/mutations/tickets/inputs/update.py
  server/apps/development/graphql/mutations/tickets/update.py
  server/apps/development/graphql/queries/issues.py
  server/apps/development/graphql/queries/teams.py
  server/apps/development/graphql/queries/tickets.py
  server/apps/development/services/project/gl/webhooks.py
  server/apps/payroll/graphql/mutations/work_breaks/approve.py
  server/apps/payroll/graphql/mutations/work_breaks/create.py
  server/apps/payroll/graphql/mutations/work_breaks/delete.py
  server/apps/payroll/graphql/mutations/work_breaks/update.py
  server/apps/users/graphql/mutations/auth/login.py
  server/apps/users/services/user/login.py
  setup.cfg
  tests/fixtures/team.py
  tests/test_development/test_ghl/test_complex.py
  tests/test_development/test_gl/test_webhooks/test_check.py
Due: black, flake8

Remove check token on project hook checking logic
  server/apps/development/services/project/gl/webhooks.py
  tests/test_development/test_gl/test_webhooks/test_check.py
  tests/test_development/test_gl/test_webhooks/test_secret_token.py
Due: black, flake8

Refactor: Login mutation inherit from serializer mutation #560
  server/apps/users/graphql/mutations/auth/login.py
  server/apps/users/graphql/mutations/inputs/__init__.py
  server/apps/users/graphql/mutations/inputs/login.py
Due: black, flake8

Change naming "ret"
  server/apps/users/services/user/metrics/progress/week/provider.py
Due: black, flake8

Refactor: implement filter by state #561
  server/apps/development/graphql/types/issues_summary.py
  server/apps/development/services/issue/summary/project.py
  tests/test_development/test_services/test_issues/test_summary/test_projects_stats.py
Due: black, flake8

Change project state filter implementation #561
  server/apps/development/graphql/filters/issues.py
  server/apps/development/graphql/types/issues_summary.py
Due: black, flake8

Add premailer. Add salary report, update tests #518
  poetry.lock
  pyproject.toml
  server/apps/core/notifications/email/dispatcher.py
  server/apps/core/templates/email/salary_email.html
  server/apps/core/templates/system_email_template.html
  server/apps/core/utils/mail.py
  server/apps/payroll/services/salary/notifications.py
  server/settings/components/constance.py
  tests/test_core/test_utils/__init__.py
  tests/test_core/test_utils/assets/raw_template.html
  tests/test_core/test_utils/assets/rendered_template.html
  tests/test_core/test_utils/test_transform.py
  tests/test_payroll/test_admin/test_salary/_for_test.html
  tests/test_payroll/test_admin/test_salary/test_notifications.py
  tests/test_skills/factories/position.py
Due: black, flake8

Refactor constance. Revert test #518
  server/apps/payroll/services/salary/notifications.py
  server/settings/components/constance.py
  tests/test_payroll/test_admin/test_salary/test_notifications.py
Due: black, flake8

Refactor: delete test html #518
  tests/test_payroll/test_admin/test_salary/_for_test.html
Due: none

Add project metrics, tests #551
  server/apps/development/graphql/types/project.py
  server/apps/development/graphql/types/project_metrics.py
  server/apps/development/services/project/metrics.py
  tests/test_development/test_services/test_projects/__init__.py
  tests/test_development/test_services/test_projects/test_metrics/__init__.py
  tests/test_development/test_services/test_projects/test_metrics/project.py
Due: black, flake8

Refactor users mutations
  server/apps/users/graphql/filters/user_work_breaks.py
  server/apps/users/graphql/mutations/auth/gl_complete_auth.py
  server/apps/users/graphql/mutations/auth/login.py
  server/apps/users/graphql/mutations/auth/logout.py
  server/apps/users/graphql/mutations/inputs/__init__.py
  server/apps/users/graphql/mutations/inputs/gl_complete_auth.py
  server/apps/users/graphql/mutations/inputs/login.py
  server/apps/users/services/user/auth.py
Due: black, flake8

Add user to Dockerfile #527
  deploy/Dockerfile
  deploy/nginx/nginx.conf
Due: none

Path conditions:
  black: any of: \.py$, but not: .*\/migrations
  flake8: any of: \.py$
