Repository team-projector/backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  language: system
  entry: poetry run black --check

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

Add command for check empty spends #697
  server/apps/development/management/commands/check_empty_spends.py
Due: black, flake8

Add task for adjust spent times #697
  server/apps/payroll/services/spent_time/updater.py
  server/apps/payroll/tasks/__init__.py
  server/apps/payroll/tasks/adjust_spent_times.py
  server/celery_app.py
  tests/test_development/factories/__init__.py
  tests/test_development/factories/merge_request_note.py
  tests/test_payroll/test_services/test_updater/__init__.py
  tests/test_payroll/test_services/test_updater/test_adjust_spents_times.py
Due: black, flake8

Add work calendar #694
  server/apps/users/graphql/queries/users.py
  server/apps/users/graphql/resolvers/__init__.py
  server/apps/users/graphql/resolvers/work_calendar.py
  server/apps/users/graphql/types/__init__.py
  server/apps/users/graphql/types/work_calendar.py
  server/apps/users/services/user/work_calendar/__init__.py
  server/apps/users/services/user/work_calendar/work_calendar.py
  tests/test_users/test_gql/test_users/test_queries/assets/work_calendar.graphql
  tests/test_users/test_gql/test_users/test_queries/test_work_calendar.py
  tests/test_users/test_gql/test_users/test_resolvers/test_work_calendar.py
Due: black, flake8

Add work calendar #694
  server/apps/users/services/user/work_calendar.py
  server/apps/users/services/user/work_calendar/__init__.py
  tests/schema.graphql
Due: black, flake8

Add work calendar #698
  server/apps/development/graphql/queries/teams.py
  server/apps/development/graphql/resolvers/team_progress_metrics.py
  server/apps/development/services/team/metrics/progress/day.py
  server/apps/development/services/team/metrics/progress/main.py
  server/apps/development/services/team/metrics/progress/week.py
  server/apps/users/graphql/queries/users.py
  server/apps/users/graphql/resolvers/user_progress_metrics.py
  server/apps/users/services/user/metrics/progress/__init__.py
  server/apps/users/services/user/metrics/progress/main.py
  server/apps/users/services/user/work_calendar.py
  tests/schema.graphql
  tests/test_development/test_gql/test_teams/test_queries/assets/team_progress_metrics.graphql
  tests/test_development/test_gql/test_teams/test_queries/test_progress_metrics.py
  tests/test_development/test_services/test_teams/test_metrics/test_progress/test_days/test_common/test_common.py
  tests/test_development/test_services/test_teams/test_metrics/test_progress/test_weeks/test_common/test_common.py
  tests/test_development/test_services/test_teams/test_metrics/test_progress/test_weeks/test_common/test_common_efficiency.py
  tests/test_users/test_gql/test_users/test_queries/assets/user_progress_metrics.graphql
  tests/test_users/test_gql/test_users/test_queries/test_metrics.py
  tests/test_users/test_services/test_users/test_metrics/test_progress/test_days/test_common/test_common.py
  tests/test_users/test_services/test_users/test_metrics/test_progress/test_days/test_future_loadings.py
  tests/test_users/test_services/test_users/test_metrics/test_progress/test_days/test_payroll.py
  tests/test_users/test_services/test_users/test_metrics/test_progress/test_weeks/test_common/test_common.py
  tests/test_users/test_services/test_users/test_metrics/test_progress/test_weeks/test_common/test_efficiency.py
  tests/test_users/test_services/test_users/test_metrics/test_progress/test_weeks/test_payroll.py
Due: black, flake8

Refactor inputs for progress metrics #698
  tests/test_users/test_gql/test_users/test_queries/test_metrics.py
Due: black, flake8

Refactor inputs for progress metrics #698
  tests/test_development/test_gql/test_teams/test_queries/test_progress_metrics.py
  tests/test_development/test_services/test_teams/test_metrics/test_progress/test_days/test_common/test_common.py
  tests/test_development/test_services/test_teams/test_metrics/test_progress/test_weeks/test_common/test_common.py
  tests/test_development/test_services/test_teams/test_metrics/test_progress/test_weeks/test_common/test_common_efficiency.py
  tests/test_users/test_gql/test_users/test_queries/test_metrics.py
  tests/test_users/test_services/test_users/test_metrics/test_progress/test_days/test_common/test_common.py
  tests/test_users/test_services/test_users/test_metrics/test_progress/test_days/test_future_loadings.py
  tests/test_users/test_services/test_users/test_metrics/test_progress/test_days/test_payroll.py
  tests/test_users/test_services/test_users/test_metrics/test_progress/test_weeks/test_common/test_common.py
  tests/test_users/test_services/test_users/test_metrics/test_progress/test_weeks/test_common/test_efficiency.py
  tests/test_users/test_services/test_users/test_metrics/test_progress/test_weeks/test_payroll.py
Due: black, flake8

Fix all issues #699
  server/apps/development/services/issue/allowed.py
  tests/test_development/test_gql/test_issues/test_queries/test_list.py
Due: black, flake8

Fix all issues #699
  server/apps/development/services/issue/allowed.py
Due: black, flake8

Fix all issues #699
  tests/test_development/test_gql/test_issues/test_queries/test_list.py
  tests/test_development/test_gql/test_issues/test_queries/test_list_filters.py
Due: black, flake8

Add some user metrics #701
  server/apps/development/graphql/fields/issues.py
  server/apps/development/graphql/fields/issues_filters.py
  server/apps/users/graphql/types/user_issues_summary.py
  server/apps/users/services/user/summary/provider.py
  tests/test_development/test_gql/test_issues/test_filters/test_created_by_for_other.py
  tests/test_development/test_gql/test_issues/test_resolvers/test_user_issue_summary/__init__.py
  tests/test_development/test_gql/test_issues/test_resolvers/test_user_issue_summary/conftest.py
  tests/test_development/test_gql/test_issues/test_resolvers/test_user_issue_summary/helpers/__init__.py
  tests/test_development/test_gql/test_issues/test_resolvers/test_user_issue_summary/helpers/assert_summary.py
  tests/test_development/test_gql/test_issues/test_resolvers/test_user_issue_summary/test_user_issue_summary.py
Due: black, flake8

Refactor exclude archived projects from allowed issues #702
  server/apps/development/services/issue/allowed.py
  tests/test_development/test_services/test_issues/test_allowed/test_developer.py
Due: black, flake8

Refactor exclude archived projects from allowed issues #702
  tests/test_development/test_services/test_issues/test_allowed/test_developer.py
Due: black, flake8

Refactor user metrics #701
  server/apps/development/graphql/fields/issues.py
  server/apps/development/services/issue/allowed.py
  tests/schema.graphql
  tests/test_development/test_gql/test_issues/test_filters/test_created_by_for_other.py
  tests/test_development/test_gql/test_issues/test_queries/assets/all_issues.graphql
  tests/test_development/test_gql/test_issues/test_queries/test_list_filters.py
Due: black, flake8

Fix typing warn #700
  server/apps/users/logic/services/__init__.py
  setup.cfg
Due: black, flake8

Refactor test env #702
  server/settings/environments/test.py
  tests/test_core/test_models/test_query/test_trunc_week.py
Due: black, flake8

Add new filter for issues_summary, add metrics for user_issue_summary #705
  server/apps/development/graphql/queries/issues.py
  server/apps/users/graphql/types/user_issues_summary.py
  server/apps/users/services/user/summary/provider.py
  tests/schema.graphql
  tests/test_development/test_gql/test_issues/test_queries/assets/issues_summary.graphql
  tests/test_development/test_gql/test_issues/test_queries/test_issues_summary.py
  tests/test_development/test_gql/test_issues/test_resolvers/test_user_issue_summary/helpers/assert_summary.py
Due: black, flake8

Update to python 3.9 #549
  deploy/Dockerfile
Due: none

Update to python 3.9 #549
  poetry.lock
Due: none

Fix slack API
  server/apps/core/notifications/slack/client.py
Due: black, flake8

Add filter by team, has problems #709
  locale/en/LC_MESSAGES/django.po
  locale/ru/LC_MESSAGES/django.po
  server/apps/development/admin/filters/__init__.py
  server/apps/development/admin/filters/problems.py
  server/apps/development/admin/filters/team.py
  server/apps/development/admin/issue.py
Due: black, flake8

Add filter by team, has problems #709
  server/apps/development/admin/filters/problems.py
Due: black, flake8

Add test #708
  tests/test_development/test_gql/test_issues/test_queries/conftest.py
  tests/test_development/test_gql/test_issues/test_queries/test_issues_summary_problems.py
Due: black, flake8

Update jnt-admin-tools #713
  poetry.lock
  server/apps/core/admin/base/model_admin.py
  server/apps/development/admin/project_member.py
  server/apps/development/models/milestone.py
  server/apps/development/models/note.py
  server/apps/development/models/project_member.py
  server/apps/payroll/models/spent_time.py
Due: black, flake8

Update jnt-admin-tools #713
  poetry.lock
  server/apps/core/admin/base/model_admin.py
Due: black, flake8

Update django 3.1.7 -> 3.1.12 #713
  poetry.lock
  pyproject.toml
Due: none

Update django 3.1.7 -> 3.1.12 #713
  pyproject.toml
Due: none

Update django 3.1.7 -> 3.1.12 #713
  poetry.lock
Due: none

Fix errors after update libs #713
  server/apps/development/graphql/types/team_member.py
  server/apps/development/services/project/gl/provider.py
  server/apps/development/services/project_group/gl/provider.py
  server/apps/users/graphql/types/user.py
Due: black, flake8

Fix errors after update libs #713
  server/apps/development/models/project_group_milestone.py
  server/apps/development/models/project_milestone.py
  server/apps/users/graphql/types/user.py
Due: black, flake8

Fix errors after update libs #713
  locale/en/LC_MESSAGES/django.po
  locale/ru/LC_MESSAGES/django.po
  server/apps/development/migrations/0101_auto_20210603_1022.py
Due: flake8

Fix errors after update libs #713
  poetry.lock
  pyproject.toml
Due: none

Fix errors after update libs #713
  deploy/Dockerfile
Due: none

Refactor slack message #714
  server/apps/development/services/pipelines/gl/webhook.py
  tests/test_development/test_services/test_pipelines/assets/webhook_body_commit_message.json
  tests/test_development/test_services/test_pipelines/test_generate_slack_message.py
Due: black, flake8

Refactor deploy #714
  deploy/Dockerfile
Due: none

Path conditions:
  black: any of: \.py$, but not: .*\/migrations
  flake8: any of: \.py$
